nav {
    font-family: "Comfortaa";
}

.f {
    color: #03aed2;
}

nav a:hover {
    color: #03aed2 !important;
}

.collection {
    font-family: "Red Hat Display";
}

.card img:hover {
    transform: scale(1.2) !important;
    transition: transform 0.3s ease-in-out !important;
}

body {
    overflow-x: hidden;
}

.heading {
    font-family: "Major Mono Display";
}
